 /* CABEÇALHO */
h1 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: aqua;
    font-size: 10px;
    margin: 30px;
    padding: 30px;
}

/* CLASSE */
.seletor {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(0, 255, 170);
    font-size: 30px;
    padding: 30px;
    line-height: 30px;
    
}

/* ID */
#texto {
    color: rgb(91, 255, 255);
}

h2 {
    font-family: Comic Neue;
    font-weight: bolder;
    background-color: white;
}